
body {
  font-family:'Montserrat-Regular', sans-serif;
  text-align:center;
  }
#title {
  background-color:#ff4c68;
  color:#fff;
  text-align:left;
}
.container-fluid {
  padding:3% 15% 8%;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size:3.5rem;
  line-height:1.5;
}

/* Navigation Bar */

.navbar {
  padding-bottom:4.5rem;
  padding-left:0;
  padding-right:0;
}
.navbar-brand {
  font-family:'Ubuntu';
  font-size:2.5rem;
  font-weight:bold;
}
.nav-item {
  padding-right:15px;
  padding-left:15px;
}
.nav-link {
  font-size:1.2rem;
  font-family:'Montserrat-Light';
}
/* Download Buttons */
.dnd-button {
  margin:6% 5% 1% 0;
}
.dnd-button1:hover , .dnd-2:hover {
  background-color:#333;
}
.dnd-button2:hover {
  background-color:#fff;
}
/* Title-Image */

.dog-img {
  padding-top:20px;
  padding-left:150px;
}

.title-image {
  width:300px;height:500px;
  transform:rotate(25deg);
  position:absolute;

}
/* features */
#features {
  padding:7% 15%;
  background-color:#fff;
  position:relative;
  z-index:1;
}
.row2 {
  padding-top:4rem;
  width:70%;
  margin-left:auto;
  margin-right:auto;
}
.mcol {
  padding-bottom:30px;
}
h3 {
  font-size:1.5rem;
  font-family:'Montserrat';
}
.about {
  color:#8f8f8f;
  width:70%;
  margin-left:auto;
  margin-right:auto;
}
.feature-icon {
  font-size:80px;
  color:#ef8172;
  margin-bottom:24px;
}
.feature-icon:hover {
  color:#ff4c68
}
/* testimonial */
#testimonials {
  padding:7% 10%;
  background-color:#ef8172;
  color:#fff;
}
h2 {
  font-family:'Montserrat';
  font-size:2.1rem;
  line-height:1.5;
  width:57%;
  margin:auto;
}
.test-image {
  width:10%;
  border-radius: 100%;
  margin:2% 5%;
}
#press {
  background-color:#ef8172;
}
.press-logo {
  width: 12%;
  margin:2% 3% 10%;
}
/*pricing*/
#pricing {
  padding:90px;
}
.pricing-column {
  padding:2% 2%;
}
.rowcard {
  margin-top:60px;
}

@media (max-width:1028px) {
  .title-image {
    position:static;
    transform:rotate(0);
  }
  #title {
    text-align:center;
  }
}

/*cta*/
#cta {
  background-color: #ff4c68;
  padding-top:8%;
  padding-bottom:7%;
}
.cta-heading {
  color:#fff;
  font-family:"Montserrat";
  width:37rem;
  margin:auto;
  line-height:1.5;
  margin-bottom:3rem;
  font-size:2rem;
}
.dnd-2, .dnd-3 {
  margin:0 1.5%;
}

/*footer*/
#footer {
  background-color: #fff;
  padding:7%;
}
.icft {
  margin:2% 0.8%;
}
.pft {
  color: grey;
  font-size:0.9rem;
  font-family:"Ubuntu";
}
